body {
  margin: 0 auto;
  font-family: sans-serif;
} 

h1 {
  font-family: "Comic Sans MS";
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(to left, violet, indigo, blue, yellow, orange, red);   -webkit-background-clip: text;
  color: transparent;
}

#eaten {
  font-family: "Comic Sans MS";
}

.game-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.lives-margin {
  margin-top: 20px;
}

#board {
  border: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 500px;
  border-radius: 15px;
}

.button1 {
  margin-left: 780px;
  color: white;
  background-color: rgb(0, 140, 255);
  line-height: 20px;
  border-radius: 10px;
}

.button2 {
  margin-left: 765px;
  color: black;
  background-color: rgb(236, 236, 15);
  margin-top: 10px;
  line-height: 20px;
  border-radius: 10px;
}

.button3 {
  margin-left: 805px;
  margin-top: 10px;
  line-height: 20px;
  color: white;
  background-color: rgb(0, 140, 255);
  border-radius: 10px;
}

p {
  color: rgb(236, 236, 15);
}